VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_ACCESS_TOKEN=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_PASSWORD=
SUPABASE_PROJECT_REF=
SUPABASE_ORG_ID=
VAPID_SUBJECT=
VITE_VAPID_PUBLIC_KEY=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
TZ=America/Sao_Paulo
VITE_APP_TIMEZONE=America/Sao_Paulo
